In [1]:
import numpy as np
import pandas as pd
import os, shutil

In [7]:
x = ["lol","haha","lmao"]
pd.Series(x)[0]

'lol'

In [8]:
full_data = pd.read_csv("G:/courses/google data analytics/capstone project/Dataset/202004-divvy-tripdata.csv")
full_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84776 entries, 0 to 84775
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             84776 non-null  object
 1   rideable_type       84776 non-null  object
 2   started_at          84776 non-null  object
 3   ended_at            84776 non-null  object
 4   start_station_name  84776 non-null  object
 5   start_station_id    84776 non-null  int64
 6   end_station_name    84677 non-null  object
 7   end_station_id      84677 non-null  float64
 8   start_lat           84776 non-null  float64
 9   start_lng           84776 non-null  float64
 10  end_lat             84677 non-null  float64
 11  end_lng             84677 non-null  float64
 12  member_casual       84776 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 41.2 MB

In [9]:
full_data.nunique()

ride_id               84776
rideable_type             1
started_at            81200
ended_at              81029
start_station_name      602
start_station_id        602
end_station_name        600
end_station_id          600
start_lat               515
start_lng               481
end_lat                 514
end_lng                 485
member_casual             2
dtype: int64

In [4]:
full_data.describe()

,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
count,84776.000000,84677.000000,84776.000000,84776.000000,84677.000000,84677.000000
mean,236.703418,236.978176,41.908156,-87.649319,41.908194,-87.649601
std,160.288883,160.957429,0.043313,0.025170,0.043313,0.025243
min,2.000000,2.000000,41.736600,-87.774700,41.736600,-87.774700
25%,113.000000,113.000000,41.884600,-87.664400,41.884600,-87.665100
50%,211.000000,212.000000,41.903000,-87.646300,41.903000,-87.646600
75%,324.000000,323.000000,41.932600,-87.631700,41.932600,-87.631700
max,673.000000,673.000000,42.064900,-87.549400,42.064900,-87.549400

In [10]:
full_data = pd.read_csv("G:/courses/google data analytics/capstone project/Dataset/202004-divvy-tripdata.csv",
                        parse_dates=["started_at","ended_at"],
                        dtype={"rideable_type":"category",
                               "start_station_id":"category",
                               "end_station_id":"category",
                               "start_station_name":"category",
                               "end_station_name":"category",
                               "member_casual":"category"})
full_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84776 entries, 0 to 84775
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             84776 non-null  object
 1   rideable_type       84776 non-null  category
 2   started_at          84776 non-null  datetime64[ns]
 3   ended_at            84776 non-null  datetime64[ns]
 4   start_station_name  84776 non-null  category
 5   start_station_id    84776 non-null  category
 6   end_station_name    84677 non-null  category
 7   end_station_id      84677 non-null  category
 8   start_lat           84776 non-null  float64
 9   start_lng           84776 non-null  float64
 10  end_lat             84677 non-null  float64
 11  end_lng             84677 non-null  float64
 12  member_casual       84776 non-null  category
dtypes: category(6), datetime64[ns](2), float64(4), object(1)
memory usage: 10.2 MB

In [11]:
# combining all files into one and resetting index and modifying data types for better memory optimization


path = "G:/courses/google data analytics/capstone project/Dataset/raw data"

datasheets = os.listdir(path)           #list of the file names in the directory

for file in datasheets:
    x = pd.read_csv(f"{path}/{file}",
                        skiprows=0,     #skip header row for each file
                        parse_dates=["started_at","ended_at"])      #format date
    full_data = pd.concat(objs=[full_data,x])       #stacking files on each itration

full_data = full_data.reset_index(drop=True).astype({"rideable_type":"category",
                               "start_station_id":"category",
                               "end_station_id":"category",
                               "start_station_name":"category",
                               "end_station_name":"category",
                               "member_casual":"category"})         #final data types conversion for better memory optimization

# tried convering data types inside read_csv but it seems that concat output sometimes mess up the category data type

In [12]:
full_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489748 entries, 0 to 3489747
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  category
 5   start_station_id    category
 6   end_station_name    category
 7   end_station_id      category
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       category
dtypes: category(6), datetime64[ns](2), float64(4), object(1)
memory usage: 409.8 MB

#### addressing duplicates and null ride_id

In [8]:
full_data["ride_id"].count() - full_data["ride_id"].nunique()

np.int64(209)

In [ ]:
full_data.drop_duplicates(subset=["ride_id"],keep="first",inplace=True)

In [ ]:
full_data[full_data["ride_id"].isna()] #there was no noll ride ids

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

### Seperating ride data and geo spatial data

In [ ]:
geo_data = full_data[["ride_id","start_station_name","start_station_id","start_lat","start_lng","end_station_name","end_station_id","end_lat","end_lng"]]
# some station ids are integers and some are not so we convert them to string first then to category for better memory optimization
geo_data = geo_data.astype({"start_station_id":"str","end_station_id":"str"}).astype({"start_station_id":"category","end_station_id":"category"}) 
geo_data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489748 entries, 0 to 3489747
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   start_station_name  category
 2   start_station_id    category
 3   start_lat           float64
 4   start_lng           float64
 5   end_station_name    category
 6   end_station_id      category
 7   end_lat             float64
 8   end_lng             float64
dtypes: category(4), float64(4), object(1)
memory usage: 349.8 MB

In [27]:
geo_data[geo_data["start_station_name"] == "Rush St & Hubbard St"]["start_station_id"].unique() #some stations has 2 different ids for some reason

['125', 'KA1503000044']
Categories (1260, object): ['100', '101', '102', '103', ..., 'WL-008', 'WL-011', 'WL-012', 'nan']

In [16]:
lookup_table = geo_data.dropna(subset=["start_station_name"]).drop_duplicates(subset=["start_station_name"],keep="first")

In [12]:
ride_data = full_data[["ride_id","rideable_type","started_at","ended_at","member_casual"]]
ride_data

,ride_id,rideable_type,started_at,ended_at,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,casual
...,...,...,...,...,...
3489743,9397BDD14798A1BA,docked_bike,2021-03-20 14:58:56,2021-03-20 17:22:47,casual
3489744,BBBEB8D51AAD40DA,classic_bike,2021-03-02 11:35:10,2021-03-02 11:43:37,member
3489745,637FF754DA0BD9E1,classic_bike,2021-03-09 11:07:36,2021-03-09 11:49:11,member
3489746,F8F43A0B978A7A35,classic_bike,2021-03-01 18:11:57,2021-03-01 18:18:37,member
3489747,3AE64EA5BF43CF72,electric_bike,2021-03-26 17:58:14,2021-03-26 18:06:43,member

In [13]:
# calculating ride length and converting it to float (in mins) for better usage and finding negative lengths
ride_data = ride_data.assign(ride_length = (ride_data["ended_at"]-ride_data["started_at"]).dt.total_seconds()/60)
ride_data[ride_data["ride_length"] < 0]

,ride_id,rideable_type,started_at,ended_at,member_casual,ride_length
2422,7C1E92200AEFF70E,docked_bike,2020-04-27 17:20:30,2020-04-27 17:20:18,member,-0.200000
2504,671BB1F73F4CD303,docked_bike,2020-04-20 16:51:18,2020-04-20 16:51:05,casual,-0.216667
3136,502B972C6B1FCAE6,docked_bike,2020-04-12 19:09:54,2020-04-12 19:09:40,member,-0.233333
3542,68E70FDF06F0A439,docked_bike,2020-04-29 17:37:11,2020-04-29 17:37:07,member,-0.066667
8212,6EB323BCC83A9D1D,docked_bike,2020-04-05 15:46:12,2020-04-05 15:46:11,member,-0.016667
...,...,...,...,...,...,...
3114153,7BD7B9F52607DAB3,electric_bike,2020-12-15 11:53:44,2020-11-25 14:50:00,member,-28623.733333
3121388,FC1EFEF4475D7F56,classic_bike,2021-01-09 15:42:45,2021-01-09 15:41:02,member,-1.716667
3150548,B1235D38EB2F8A9E,electric_bike,2021-01-06 18:33:12,2021-01-06 18:31:07,member,-2.083333
3300569,F79335E3A77A57B5,electric_bike,2021-03-29 15:41:21,2021-03-29 15:41:20,member,-0.016667
3382082,5D2797A8FFA71B49,classic_bike,2021-03-13 18:02:58,2021-03-13 18:02:57,casual,-0.016667

In [14]:
# converting negative times to positive (cause the start and end time stamps were probably swapped)
ride_data["ride_length"] = ride_data["ride_length"].abs()

In [15]:
# before moving along we take a look at the statistics of ride length, it looks like there are some outliers
ride_data["ride_length"].describe()

count    3.489539e+06
mean     2.925508e+01
std      3.212687e+02
min      0.000000e+00
25%      7.883333e+00
50%      1.451667e+01
75%      2.663333e+01
max      5.872003e+04
Name: ride_length, dtype: float64

In [16]:
# assigning different buckets for ride length
def conditional(x):
    if x <= 10:
        return "less than 10 mins"
    elif x > 10 and x <= 30:
        return "between 10 and 30 mins"
    elif x > 30 and x <= 60:
        return "between 30 mins and 1 hour"
    elif x > 60 and x <= (60*24):
        return "between 1 hour and 24 hours"
    else:
        return "more than 24 hours"
    
ride_data["ride_length_category"] = ride_data["ride_length"].apply(conditional)

In [17]:
# adding week day name , and some final optimization
ride_data["day_of_week"] = ride_data["started_at"].dt.day_name()
ride_data = ride_data.astype({"ride_length_category":"category","day_of_week":"category"})

In [18]:
# ride_data.to_csv("G:/ride_data.csv",index=False)
# geo_data.to_csv("G:/geo_data.csv",index=False)